In [2]:
import numpy as np
import pandas as pd
import datetime
from sqlalchemy import create_engine
import plotly.express as px
# from database_utils import add_new_unl, add_new_dot, clean_unleashed, clean_dot, get_level_2

In [30]:
# database connection

db_password = "UnitCircle42!"
db_user = "postgres"
db_name = "dot"
endpoint = "awakedb.cre3f7yk1unp.us-west-1.rds.amazonaws.com"

connection_string = f"postgresql://{db_user}:{db_password}@{endpoint}:5432/{db_name}"
engine = create_engine(connection_string)

In [31]:
df = pd.read_sql("SELECT * FROM unleashed_raw ORDER BY order_date DESC", con=engine)

In [33]:
df = df.convert_dtypes()
df

,order_num,order_date,req_date,completed_date,warehouse,customer_name,customer_type,product,product_group,status,quantity,sub_total
0,SO-00132167,2024-11-30,2024-12-01,2024-01-12,Complemar - PA,Amazon SC,Amazon,50ct Pouch - Dark Choc Bites,Finished Goods,Completed,1.0,46.65
1,SO-00132168,2024-11-30,2024-12-01,2024-01-12,Complemar - PA,Amazon SC,Amazon,50ct Pouch - Dark Choc Bites,Finished Goods,Completed,1.0,46.65
2,SO-00132169,2024-11-30,2024-12-01,2024-01-12,Complemar - PA,Amazon SC,Amazon,50ct Pouch - Dark Choc Bites,Finished Goods,Completed,1.0,46.65
3,SO-00132170,2024-11-30,2024-12-01,2024-01-12,Complemar - PA,Amazon SC,Amazon,50ct Pouch - Dark Choc Bites,Finished Goods,Completed,1.0,46.65
4,SO-00132171,2024-11-30,2024-12-01,2024-01-12,Complemar - PA,Amazon SC,Amazon,50ct Pouch - Dark Choc Bites,Finished Goods,Completed,1.0,46.65
...,...,...,...,...,...,...,...,...,...,...,...,...
206625,SO-00001464,2017-12-04,2017-12-04,2018-01-05,Inapak,Itwal,On Account,2 x 50ct Change Maker - AWAKE Chocolate Bites ...,Finished Goods,Completed,60.0,2700.0
206626,SO-00001464,2017-12-04,2017-12-04,2018-01-05,Inapak,Itwal,On Account,"VANI, MDA",<NA>,Completed,1.0,-270.0
206627,SO-00001464,2017-12-04,2017-12-04,2018-01-05,Inapak,Itwal,On Account,CASH TERMS,<NA>,Completed,1.0,-54.0
206628,SO-00001425,2017-11-30,2017-12-14,2018-01-12,Inapak,Sysco Southwestern Ontario,On Account,2 x 50ct Change Maker - AWAKE Chocolate Bites ...,Finished Goods,Completed,12.0,528.0
206629,SO-00001425,2017-11-30,2017-12-14,2018-01-12,Inapak,Sysco Southwestern Ontario,On Account,AWAKE Chocolate - 2pk - Mixed - 6x12,Finished Goods,Completed,12.0,708.48

In [36]:
df['completed_date'] = pd.to_datetime(df['completed_date'], format= '%Y-%m-%d')
df['order_date'] = pd.to_datetime(df['order_date'], format= '%Y-%m-%d')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206630 entries, 0 to 206629
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   order_num       206630 non-null  string
 1   order_date      206630 non-null  datetime64[ns]
 2   req_date        185289 non-null  object
 3   completed_date  205756 non-null  datetime64[ns]
 4   warehouse       206630 non-null  string
 5   customer_name   206630 non-null  string
 6   customer_type   206007 non-null  string
 7   product         206630 non-null  string
 8   product_group   203992 non-null  string
 9   status          206630 non-null  string
 10  quantity        206630 non-null  Float64
 11  sub_total       206630 non-null  Float64
dtypes: Float64(2), datetime64[ns](2), object(1), string(7)
memory usage: 19.3+ MB

In [63]:
df[df.order_num=='SO-00133360'][:50]

,order_num,order_date,req_date,completed_date,warehouse,customer_name,customer_type,product,product_group,status,quantity,sub_total
439,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,50ct Change Maker - AWAKE Chocolate Bites USA ...,Finished Goods,Placed,3.0,0.0
440,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,50ct Change Maker - AWAKE Chocolate Bites USA ...,Finished Goods,Placed,3.0,0.0
441,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,NSA 50ct Caddy - Almond Sea Salt Bites Changem...,Finished Goods,Placed,3.0,0.0
442,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Caramel Chocolate Bars 12 Pack,Finished Goods,Placed,1.0,0.0
443,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Dark Chocolate Bars 12 Pack,Finished Goods,Placed,1.0,0.0
444,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Peanut Butter Milk Chocolate Bites - USA Stand...,Finished Goods,Placed,1.0,0.0
445,SO-00133360,2024-03-19,2024-03-19,NaT,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Mint Dark Chocolate Bites - USA Stand Up Pouch...,Finished Goods,Placed,1.0,0.0
1011,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Mint Dark Chocolate Bites - USA Stand Up Pouch...,Finished Goods,Completed,1.0,0.0
1012,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Peanut Butter Milk Chocolate Bites - USA Stand...,Finished Goods,Completed,1.0,0.0
1013,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Dark Chocolate Bars 12 Pack,Finished Goods,Completed,1.0,0.0
1014,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,Caramel Chocolate Bars 12 Pack,Finished Goods,Completed,1.0,0.0
1015,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,NSA 50ct Caddy - Almond Sea Salt Bites Changem...,Finished Goods,Completed,3.0,0.0
1016,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,50ct Change Maker - AWAKE Chocolate Bites USA ...,Finished Goods,Completed,3.0,0.0
1017,SO-00133360,2024-03-19,2024-03-19,2024-03-29,Complemar - Rochester NY,USA.SAMPLES.MATT,Samples,50ct Change Maker - AWAKE Chocolate Bites USA ...,Finished Goods,Completed,3.0,0.0

In [69]:
# df[df.order_num=='SO-00133360']
# df[df.completed_date.isna()][:50]
df[df.completed_date.isna()][['order_date','order_num','customer_name','sub_total']].order_date.unique()

array(['2024-03-19T00:00:00.000000000', '2024-03-08T00:00:00.000000000',
       '2024-03-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [61]:
nulls = df[df.order_date=='2024-03-05']

In [62]:
nulls

,order_num,order_date,req_date,completed_date,warehouse,customer_name,customer_type,product,product_group,status,quantity,sub_total
1441,SO-00132992,2024-03-05,2024-03-05,2024-03-05,Amazon Seller Central,Amazon SC FBA,Amazon,50ct Pouch - Dark Choc Bites,Finished Goods,Completed,17.0,793.11
1442,SO-00132988,2024-03-05,2024-03-18,NaT,Complemar - Rochester NY,World Pantry,On Account,Peanut Butter Milk Chocolate Bites - USA Stand...,Finished Goods,Placed,1.0,70.53
1443,SO-00132988,2024-03-05,2024-03-18,NaT,Complemar - Rochester NY,World Pantry,On Account,Mint Dark Chocolate Bites - USA Stand Up Pouch...,Finished Goods,Placed,1.0,70.53
1444,SO-00132988,2024-03-05,2024-03-18,NaT,Complemar - Rochester NY,World Pantry,On Account,AWAKE NSA Almond Sea Salt Pouches 14 x 50ct,Finished Goods,Placed,1.0,690.48
1445,SO-00132988,2024-03-05,2024-03-18,NaT,Complemar - Rochester NY,World Pantry,On Account,AWAKE NSA Dark Choc PB Pouches 14 x 50ct,Finished Goods,Placed,1.0,690.48
...,...,...,...,...,...,...,...,...,...,...,...,...
1583,SO-00132997,2024-03-05,2024-03-05,NaT,Inapak,CDN.SAMPLES.SARA,Samples,50ct Changemaker - AWAKE Chocolate Bites CDN -...,Finished Goods,Parked,1.0,0.0
1584,SO-00132997,2024-03-05,2024-03-05,NaT,Inapak,CDN.SAMPLES.SARA,Samples,50ct Change Maker - AWAKE Chocolate Bites CDN ...,Finished Goods,Parked,1.0,0.0
1585,SO-00132997,2024-03-05,2024-03-05,NaT,Inapak,CDN.SAMPLES.SARA,Samples,50ct Change Maker - AWAKE Chocolate Bites CDN ...,Finished Goods,Parked,1.0,0.0
1586,SO-00132996,2024-03-05,2024-03-15,NaT,Metro SCG,Costco Canada,On Account,2 x 50ct Change Maker - AWAKE Chocolate Bites ...,Finished Goods,Placed,5.0,237.8
1587,SO-00133054,2024-03-05,2024-03-06,2024-03-07,Complemar - PA,Amazon SC,Amazon,50ct Pouch - Mint Choc Bites,Finished Goods,Completed,1.0,46.65

In [50]:
nulls.order_num.value_counts()[:20]

SO-00133360    14
SO-00133337    11
SO-00133336    11
SO-00133341    11
SO-00133345    10
SO-00133287    10
SO-00133312     9
SO-00133304     9
SO-00133298     9
SO-00133294     9
SO-00133292     9
SO-00133285     9
SO-00133280     9
SO-00133323     9
SO-00133343     9
SO-00133419     8
SO-00133347     8
SO-00133415     8
SO-00133349     8
SO-00133331     8
Name: order_num, dtype: Int64

In [40]:
df[df.order_date=='2024-03-19'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806 entries, 341 to 1146
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_num       806 non-null    string
 1   order_date      806 non-null    datetime64[ns]
 2   req_date        52 non-null     object
 3   completed_date  17 non-null     datetime64[ns]
 4   warehouse       806 non-null    string
 5   customer_name   806 non-null    string
 6   customer_type   806 non-null    string
 7   product         806 non-null    string
 8   product_group   802 non-null    string
 9   status          806 non-null    string
 10  quantity        806 non-null    Float64
 11  sub_total       806 non-null    Float64
dtypes: Float64(2), datetime64[ns](2), object(1), string(7)
memory usage: 83.4+ KB

In [ ]:
# UPLOAD AND CLEAN DOT

dot_download = r"C:\Users\mikej\Downloads\SHOP Supplier Reporting - Invoice Details Excel - 2024-04-16T175756.609.xlsx"  ### file download from dot
add_new_dot(dot_download)  ## adds new indirect purchases to raw database
clean_dot()                ## clean raw indirect purchases and add to clean indirect db