In [1]:
# dependencies

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import datetime
import plotly.express as px

from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)

In [2]:
# database connection

db_password = "UnitCircle42!"
db_user = "postgres"
db_name = "dot"
endpoint = "awakedb.cre3f7yk1unp.us-west-1.rds.amazonaws.com"

connection_string = f"postgresql://{db_user}:{db_password}@{endpoint}:5432/{db_name}"
engine = create_engine(connection_string)

In [3]:
def get_data_from_csv():
    # df = pd.read_sql("SELECT * FROM level_2 WHERE date > '2019-12-31'",con = engine)
    return df
all_sales = get_data_from_csv()

# invoice date cleanup
all_sales['date'] = pd.to_datetime(all_sales['date'])
all_sales['date'] = all_sales['date'].dt.normalize()
all_sales['date'] = all_sales['date'].dt.floor('D')
all_sales

,date,sale_origin,market_segment,parent_customer,customer,item,qty,usd,cad,month,year
0,2024-01-19,dot,Alternate Retail,Vistar Retail,VISTAR-RETAIL WEST,AWAKE CHOCOLATE AWAKE CAFF DARK CHOC- 6X12PK M...,1.0,85.54,113.77,January,2024
1,2024-01-19,dot,Alternate Retail,Tropical,TROPICAL FOODS--GA,AWAKE CHOCOLATE AWAKE CHOC CARAMEL- 6X12PK MASTER,1.0,85.54,113.77,January,2024
2,2024-01-19,dot,Convenience,Amcon,AMCON DIST/SPRINGFIELD,CAFFEINATED CHOCOLATE BITES SINGLES PB CHOC,1.0,141.00,187.53,January,2024
3,2024-01-19,dot,Vending,Vistar,VISTAR-PHOENIX,AWAKE CHOCOLATE AWAKE CHOC CARAMEL- 6X12PK MASTER,1.0,85.54,113.77,January,2024
4,2024-01-19,dot,Alternate Retail,Vistar Retail,VISTAR-RETAIL WEST,CAFFEINATED CHOCOLATE BITES SINGLES,5.0,705.00,937.65,January,2024
...,...,...,...,...,...,...,...,...,...,...,...
196657,2020-01-02,dot,Convenience,RC Taylor,R.C. TAYLOR,AWAKE CHOCOLATE AWAKE CHOC CARAMEL- 6X12PK MASTER,1.0,78.48,104.38,January,2020
196658,2020-01-02,dot,Vending,Vistar,VISTAR-KENTUCKY,CAFFEINATED CHOCOLATE BITES SINGLES DARK,4.0,480.00,638.40,January,2020
196659,2020-01-02,dot,Alternate Retail,Kelli's Gift Shop Supplies,KELLI'S GIFT SHOP SUPPLIE,AWAKE CHOCOLATE AWAKE CHOC CARAMEL- 6X12PK MASTER,8.0,502.24,667.98,January,2020
196660,2020-01-02,dot,Alternate Retail,Kelli's Gift Shop Supplies,KELLI'S GIFT SHOP SUPPLIE,CAFFEINATED CHOCOLATE BITES SINGLES,18.0,1728.00,2298.24,January,2020
196661,2020-01-02,dot,Alternate Retail,Kelli's Gift Shop Supplies,KELLI'S GIFT SHOP SUPPLIE,AWAKE CHOCOLATE AWAKE CAFF MILK CHOC- 6X12PK M...,3.0,188.34,250.49,January,2020

In [ ]:
online_23

In [4]:
all_sales.to_csv('data/all_sales_data.csv',index=False)

In [ ]:
segment = st.sidebar.multiselect(
    label='Market Segment',
    options=all_sales['market_segment'].unique().to_list(),
    default=all_sales['market_segment'].unique().to_list(),
)

In [132]:
all_sales.columns

Index(['date', 'sale_origin', 'market_segment', 'parent_customer', 'customer',
       'item', 'qty', 'usd', 'cad', 'month', 'year'],
      dtype='object')

In [130]:
all_sales['date'] = pd.to_datetime(all_sales['date'])
all_sales['date'] = all_sales['date'].dt.normalize()
all_sales['date'] = all_sales['date'].dt.floor('D')
all_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144287 entries, 0 to 144286
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             144287 non-null  datetime64[ns]
 1   sale_origin      144287 non-null  string
 2   market_segment   144287 non-null  string
 3   parent_customer  144287 non-null  string
 4   customer         144287 non-null  string
 5   item             144287 non-null  string
 6   qty              144287 non-null  Float64
 7   usd              144287 non-null  Float64
 8   cad              144287 non-null  Float64
 9   month            144287 non-null  string
 10  year             144287 non-null  Int64
dtypes: Float64(3), Int64(1), datetime64[ns](1), string(6)
memory usage: 12.7 MB

In [84]:
samples_23 = int(all_sales[(all_sales.date.dt.year==2023) & (all_sales.market_segment=='Samples')]['qty'].sum())
samples_22 = int(all_sales[(all_sales.date.dt.year==2022) & (all_sales.market_segment=='Samples')]['qty'].sum())
yoy_samples = int(samples_23-samples_22)
yoy_samples_perc = round(int(samples_23-samples_22)/samples_22,2)

In [90]:
yoy_samples_perc

-0.4

In [37]:
online_23 = all_sales[(all_sales['year'] == 2023) & (all_sales['market_segment'] == 'Online Direct') | (all_sales['market_segment'] == 'Online Distributor')].usd.sum()
# online_22 = all_sales[(all_sales['year'] == 2022) & (all_sales['market_segment'] == 'Online Direct') | (all_sales['market_segment'] == 'Online Distributor')].usd.sum()
# yoy_online = int(online_23-online_22)
# yoy_online_perc = round(int(online_23-online_22) / online_22,2)

In [74]:
online = all_sales[(all_sales.market_segment == 'Online Direct') | (all_sales.market_segment=='Online Distributor')]
online_23 = int(online[online.date.dt.year==2023].usd.sum())

2260971

In [58]:
all_sales[(all_sales['market_segment'] == 'Online Direct') | (all_sales['market_segment'] == 'Online Distributor')].groupby(['market_segment','year'],as_index=False)['usd'].sum()

        market_segment  year           usd
0        Online Direct  2018   265651.3425
1        Online Direct  2019     315065.67
2        Online Direct  2020      510627.6
3        Online Direct  2021   284134.4025
4        Online Direct  2022    67980.2175
5        Online Direct  2023     50653.665
6        Online Direct  2024      955.3725
7   Online Distributor  2018   489535.9951
8   Online Distributor  2019    654521.051
9   Online Distributor  2020     742274.48
10  Online Distributor  2021    930362.601
11  Online Distributor  2022   1770269.023
12  Online Distributor  2023  2210317.3875
13  Online Distributor  2024     10847.265

In [37]:


# invoice date cleanup
all_sales['date'] = pd.to_datetime(all_sales['date'])
all_sales['date'] = all_sales['date'].dt.normalize()
all_sales['date'] = all_sales['date'].dt.floor('D')
all_sales.sort_values(by='usd',ascending=False,inplace=True)

sales_23 = int(all_sales[all_sales['date'].dt.year == 2023].usd.sum())
sales_23

9614740